main img{
    width: 350px;
    height: 350px;
    border-radius: 8px 8px 8px 8px;
    margin: 10px;
    padding:  15px 15px 0px 0px;
}
main section{
    width: 79%;
    height: 500px;
    background-color: aqua;
    border-radius: 8px;
    margin: auto;
    display: block;
    display: flex;
    margin: 20px auto;
    padding: 10px;
}
header h1{
    text-align: center;
}
body{
    width: 100%;
    background-color: rgb(208, 248, 248);
}
h2{
    text-align: center;
}
footer {
    margin:  50px 0px 0px 0px;
}
footer{
    width: 100%;
    height: 170px;
    background-color: #4CAF50;
    color: aliceblue;
    padding:  10px 0px;
    text-align: center;
}
a{
    margin:  45% ;
}
.button{
    display: block;
    padding: 15px;
    background-color: rgb(2, 147, 147);
    width: 150px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    top: 20px;
    left:20px;
    margin: 20px auto;
}
.button:hover{
    transform: scale(1.2);
    transform: rotate(360deg);
    background-color: rgb(162, 248, 248);
    transition: 2s;
}